body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
}

#game {
    padding: 0;
    margin-top: 0;
    width: 80vw;
    aspect-ratio: 30 / 16;
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell {
    box-sizing: border-box;
    border: 1px solid #000;
}

.game-grid li {
    width: 100%;
}

.units {
    display: flex;
    flex-direction: row;
}

.placer {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 0px²;
    padding-right: 150px;
}

.placer img {
    width: 100px;
    height: 100px;
}

.placer li {
    padding: 10px 15px;
    margin: 0px 10px;
    border: brown 2px solid;
    border-radius: 15px;
}

.price {
    border: #000 1px solid;
    border-radius: 15px;
    padding: 5px, 3px;
}

#cheesePic {
    width: 100px;
    height: 100px;
  }

